<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />

    <title>{{title}}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a href="/" class="navbar-brand ms-5">Home</a>
        <div class="navbar-nav me-5" id="notLoggedInButtons">
          <a href="/login" class="nav-link">Login</a>
        </div>
          <div class="navbar-nav me-5 loggedInButtons" style="display: none;">
            <a href="/main" class="nav-link">Profile</a>
            <a href="#" class="nav-link" onclick="logoutUser()">Logout</a>
          </div>
        </div>
      </div>
    </nav>
    {% block content %}{% endblock %}
    <footer class="text-center mt-5">© Davin Reid {{curr_date}}</footer>
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <script src="../static/index.js"></script>
  </body>
</html>
